version: 2
jobs:
  lint-ansible:
    docker:
      - image: ubuntu:20.04
    steps:
      - checkout
      - run:
          name: ansible-lint
          command: |
            apt update
            apt -y install build-essential python3-virtualenv git
            virtualenv ansible-lint
            . ansible-lint/bin/activate
            pip install ansible ansible-lint
            cd ansible/playbooks/roles
            ansible-lint *
  lint-puppet:
    docker:
      - image: ubuntu:20.04
    steps:
      - checkout
      - run:
          name: puppet-lint
          command: |
            apt update
            apt -y install build-essential zlib1g-dev ruby ruby-dev
            gem install puppet-lint
            puppet-lint --no-documentation-check puppet/modules
  lint-salt:
    docker:
      - image: ubuntu:20.04
    steps:
      - checkout
      - run:
          name: salt-lint
          command: |
            apt update
            apt -y install build-essential python3-dev python3-virtualenv
            virtualenv salt-lint
            . salt-lint/bin/activate
            pip install salt-lint
            find saltstack -name "*.sls" -print0 | xargs -0 -n1 salt-lint
  lint-chef:
    docker:
      - image: ubuntu:20.04
    steps:
      - checkout
      - run:
          name: chef-lint
          command: |
            apt update
            apt -y install build-essential zlib1g-dev ruby ruby-dev
            gem install foodcritic cookstyle
            foodcritic -t ~FC031 -t ~FC071 -t ~FC011 -t ~FC109 chef/cookbooks
            cookstyle chef
  ansible-debian:
    docker:
      - image: debian:11
    steps:
      - checkout
      - run:
          name: ansible-debian
          command: |
            cd ansible
            bash -x standalone-ansible.sh -e furlongm@gmail.com -l
  puppet-debian:
    docker:
      - image: debian:11
    steps:
      - checkout
      - run:
          name: puppet-debian
          command: |
            cd puppet
            bash -x standalone-puppet.sh -e furlongm@gmail.com -l
  salt-debian:
    docker:
      - image: debian:11
    steps:
      - checkout
      - run:
          name: salt-debian
          command: |
            cd saltstack
            bash -x standalone-salt.sh -e furlongm@gmail.com -l
  chef-debian:
    docker:
      - image: debian:11
    steps:
      - checkout
      - run:
          name: chef-debian
          command: |
            cd chef
            bash -x standalone-chef.sh -e furlongm@gmail.com -l
  ansible-ubuntu:
    docker:
      - image: ubuntu:20.04
    steps:
      - checkout
      - run:
          name: ansible-ubuntu
          command: |
            cd ansible
            bash -x standalone-ansible.sh -e furlongm@gmail.com -l
  puppet-ubuntu:
    docker:
      - image: ubuntu:20.04
    steps:
      - checkout
      - run:
          name: puppet-ubuntu
          command: |
            export DEBIAN_FRONTEND=noninteractive
            cd puppet
            bash -x standalone-puppet.sh -e furlongm@gmail.com -l
  salt-ubuntu:
    docker:
      - image: ubuntu:20.04
    steps:
      - checkout
      - run:
          name: salt-ubuntu
          command: |
            export DEBIAN_FRONTEND=noninteractive
            cd saltstack
            bash -x standalone-salt.sh -e furlongm@gmail.com -l
  chef-ubuntu:
    docker:
      - image: ubuntu:20.04
    steps:
      - checkout
      - run:
          name: chef-ubuntu
          command: |
            cd chef
            bash -x standalone-chef.sh -e furlongm@gmail.com -l
  ansible-centos:
    docker:
      - image: quay.io/centos/centos:stream8
    steps:
      - checkout
      - run:
          name: ansible-centos
          command: |
            cd ansible
            bash -x standalone-ansible.sh -e furlongm@gmail.com -l
  puppet-centos:
    docker:
      - image: quay.io/centos/centos:stream8
    steps:
      - checkout
      - run:
          name: puppet-centos
          command: |
            cd puppet
            bash -x standalone-puppet.sh -e furlongm@gmail.com -l
  salt-centos:
    docker:
      - image: quay.io/centos/centos:stream8
    steps:
      - checkout
      - run:
          name: salt-centos
          command: |
            cd saltstack
            bash -x standalone-salt.sh -e furlongm@gmail.com -l
  chef-centos:
    docker:
      - image: quay.io/centos/centos:stream8
    steps:
      - checkout
      - run:
          name: chef-centos
          command: |
            cd chef
            bash -x standalone-chef.sh -e furlongm@gmail.com -l
  ansible-opensuse:
    docker:
      - image: opensuse/leap:15.4
    steps:
      - checkout
      - run:
          name: ansible-opensuse
          command: |
            cd ansible
            bash -x standalone-ansible.sh -e furlongm@gmail.com -l
  puppet-opensuse:
    docker:
      - image: opensuse/leap:15.4
    steps:
      - checkout
      - run:
          name: puppet-opensuse
          command: |
            cd puppet
            bash -x standalone-puppet.sh -e furlongm@gmail.com -l
  salt-opensuse:
    docker:
      - image: opensuse/leap:15.4
    steps:
      - checkout
      - run:
          name: salt-opensuse
          command: |
            cd saltstack
            bash -x standalone-salt.sh -e furlongm@gmail.com -l
  chef-opensuse:
    docker:
      - image: opensuse/leap:15.4
    steps:
      - checkout
      - run:
          name: chef-opensuse
          command: |
            cd chef
            bash -x standalone-chef.sh -e furlongm@gmail.com -l
  ansible-fedora:
    docker:
      - image: fedora:36
    steps:
      - checkout
      - run:
          name: ansible-fedora
          command: |
            cd ansible
            bash -x standalone-ansible.sh -e furlongm@gmail.com -l
  puppet-fedora:
    docker:
      - image: fedora:36
    steps:
      - checkout
      - run:
          name: puppet-fedora
          command: |
            cd puppet
            bash -x standalone-puppet.sh -e furlongm@gmail.com -l
  salt-fedora:
    docker:
      - image: fedora:36
    steps:
      - checkout
      - run:
          name: salt-fedora
          command: |
            cd saltstack
            bash -x standalone-salt.sh -e furlongm@gmail.com -l
  chef-fedora:
    docker:
      - image: fedora:36
    steps:
      - checkout
      - run:
          name: chef-fedora
          command: |
            cd chef
            bash -x standalone-chef.sh -e furlongm@gmail.com -l

workflows:
  version: 2
  linters:
   jobs:
      - lint-ansible
      - lint-puppet
      - lint-salt
      - lint-chef
  test-tool-distro-combos:
    jobs:
      - ansible-debian
      - ansible-ubuntu
      - ansible-centos
      - ansible-opensuse
      - ansible-fedora
      - puppet-debian
      - puppet-ubuntu
      - puppet-centos
      - puppet-opensuse
      - puppet-fedora
      - salt-debian
      - salt-ubuntu
      - salt-centos
      - salt-opensuse
      - salt-fedora
      - chef-debian
      - chef-ubuntu
      - chef-centos
      - chef-opensuse
      - chef-fedora
