- name: Set up distro vars
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - "{{ ansible_os_family }}.yml"
    - default.yml

- name: Install net packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
    - tcpdump
    - nmap
    - telnet
    - iftop
    - whois
    - wget
    - ipset
    - nload
    - bmon
    - "{{ iperf_package }}"
    - "{{ bindutils_package }}"
