- hosts: 127.0.0.1
  user: root
  connection: local

  roles:
    - role: 'repos'
    - role: 'locale'
    - role: 'etckeeper'
    - role: 'misc'
    - role: 'net'
    - role: 'screen'
    - role: 'ssh'
    - role: 'fail2ban'
    - role: 'haveged'
    - role: 'vim'
    - role: 'postfix'
