- name: Set up distro vars
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - "{{ ansible_os_family }}.yml"
    - default.yml

- name: Remove exim package
  ansible.builtin.package:
    name: "{{ exim_package }}"
    state: absent

- name: Install mailx package
  ansible.builtin.package:
    name: "{{ mailx_package }}"
    state: present

- name: Install postfix package
  ansible.builtin.package:
    name: postfix
    state: present

- name: Install postfix-lmdb package
  ansible.builtin.package:
    name: postfix-lmdb
    state: present
  when: ansible_os_family == 'Debian' or ansible_distribution == 'Fedora'

- name: Start postfix service
  ansible.builtin.service:
    name: postfix
    state: started
    enabled: true
  when: ansible_virtualization_type is not defined or ansible_virtualization_type != 'docker'

- name: Configure postfix
  ansible.builtin.template:
    src: main.cf.j2
    dest: /etc/postfix/main.cf
    owner: root
    group: root
    mode: 0644
    backup: true
  notify: Restart postfix

- name: Add root mail alias
  ansible.builtin.lineinfile:
    path: /etc/aliases
    regexp: '^root:'
    line: "root: {{ root_alias }}"
  notify: Exec newaliases
